<app-main-nav>
  <button mat-raised-button color="accent">Click me</button>
  <mat-card id="addBuroCard">
    <mat-card-title>Add a new buro</mat-card-title>
    <mat-card-subtitle>* are mandatory fields</mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="form" name="form" id="form">
        <mat-form-field id="newNameForm" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput #inputName maxlength="15"
            placeholder="Name" required [formControl]="form.get('addNameField')">
          <mat-icon matSuffix>adb</mat-icon>
          <mat-hint>Max 15 characters</mat-hint>
          <mat-hint align="end">{{inputName.value?.length || 0}}/15</mat-hint>
          <!--<mat-error *ngIf="form.get('addNameField')">{{getNameErrorMessage()}}</mat-error>-->
          <mat-error *ngIf="form.get('addNameField').status === 'INVALID'">
            <validation-errors [errors]="form.get('addNameField').errors"></validation-errors>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput #inputAddress maxlength="25" 
            placeholder="Address" required [formControl]="form.get('addAddressField')">
          <mat-icon matSuffix>house</mat-icon>
          <mat-hint>Max 25 characters</mat-hint>
          <mat-hint align="end">{{inputAddress.value?.length || 0}}/25</mat-hint>
          <!--<mat-error *ngIf="form.get('addAddressField')">{{getAddressErrorMessage()}}</mat-error>-->
          <mat-error *ngIf="form.get('addAddressField').status === 'INVALID'">
            <validation-errors [errors]="form.get('addAddressField').errors"></validation-errors>
          </mat-error>
        </mat-form-field>
      </form>
      <mat-card-actions>
        <button mat-flat-button (click)="submit()">Add</button>
        <button mat-flat-button (click)="resetAddForm()">Reset</button>
      </mat-card-actions>
    </mat-card-content>
    
  </mat-card>

  <edit-card-form></edit-card-form>
  <app-data-table></app-data-table>
  
</app-main-nav>


<router-outlet></router-outlet>